@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
@layer base {
  body {
    background: radial-gradient(
      circle,
      hsla(218, 100%, 98%, 1) 50%,
      hsla(219, 82%, 93%, 1) 100%
    );
  }
  .blurred {
    backdrop-filter: blur(7px);
    background-color: rgba(211, 228, 249, 0.2);
    border: 2px solid #669df636;
    border-radius: 8px;
  }
  textarea {
    resize: none;
    background-color: transparent;
  }
  textarea:focus {
    outline: none;
    border: none;
  }
  section {
    height: calc(100dvh - 144px - 120px);
  }
  form:has(textarea:focus) {
    box-shadow: 2px 2px 3px #669df6, -2px -2px 3px #669df6;
  }
  .chat {
    box-shadow: 0 3px 3px #669df636, -3px 0 3px #669df636;
  }
  /* main {
    height: calc(100dvh - 114px);
  } */
  /* .inputArea {
    translate: 150% 0;
  } */
}
